python-dotenv==1.0.0

llama-index==0.10.0
InstructorEmbedding==1.0.1
torch==2.2.2+cu118
sentence-transformers 
#==2.2.2
scipy==1.11.4
llama-index-embeddings-huggingface==0.2.0
llama-index-llms-huggingface

faiss-cpu