python-dotenv==1.0.0

InstructorEmbedding==1.0.1
torch==2.2.2+cu118

scipy==1.11.4
llama-index==0.10.0
llama-index-llms-huggingface
llama-index-embeddings-huggingface
transformers==4.18.0

sentence_transformers